body {
	font-size: 1.5em;
	background-color: #ccc;
	background-image: url('/static/black-Linen.png');
	margin: 0px;
}

#content {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 2px;
	padding: 10px;
	background-color: #eee;
	background-image: url('/static/paper_fibers.png');
	height: 100%;
}

#header {
	border-radius: 0px 0px 10px 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFA200;
	padding: 1em 0em;
	padding: 0.1em 0em;
}

#nav_bar {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.nav_item {
	display: inline-block;
	padding: 0px 5px;
}

.nav_item a:link, .nav_item a:visited {
	color: white;
	text-decoration: none;
	text-shadow: .1em .1em black;
}

.display_page {
	border-left-style: solid;
	border-right-style: solid;
	border-radius: 10px;
	border-width: 2px;
	border-color: black;
	margin: 0px -7px;
	padding: 0px 5px;
}
