body {
	background-color: #ccc;
	background-image: url('/static/black-Linen.png');
	margin: 0px;
}

#content {
	width: 50%;
	border-radius: 2px;
	padding: 5px;
	background-color: #eee;
	background-image: url('/static/paper_fibers.png');
	height: 100%;
	min-height: 100%;
	position: fixed;
	margin-left: 25%;
	margin-right: 25%;
}

#content_body {
	font-size: 1.5em;
}

#header {
	border-radius: 0px 0px 10px 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFA200;
	padding: 0.1em 0em;
}


#nav_bar {
	margin-left: 25%;
	margin-right: 25%;
	padding: 0px 10px;
	width: 50%;
	min-width: 25em;
}

.nav_item {
	display: inline-block;
	padding: 0px 5px;
	font-size: 1.5em;
}

.nav_item a:link, .nav_item a:visited {
	color: white;
	text-shadow: .1em .1em black;
}

.display_page {
	border-left-style: solid;
	border-right-style: solid;
	border-radius: 10px;
	border-width: 2px;
	border-color: black;
	margin: 0px -7px;
	padding: 0px 5px;
}

ul {
	padding: 0px 5px;
	margin: 0px;
	list-style-type: none;
}

.post {
	margin: 10px 0px;
	padding: 5px;
	border-radius: 10px;
	border-left-style: solid;
	border-width: 2px;
	border-color: #FFA200;
}

a {
	text-decoration: none;
	color: #327000;
}

.post_summary {
	padding-left: 10px;
	font-size: 0.7em;
	display: inline-block;
}

#content_footer {
	position: fixed;
	bottom: 0.5em;
}
