html, body {
	margin: 0px;
	min-height: 100%;
	height: 100%;
	background-color: #EBEEFF;
}

#header {
	font-size: 1.5em;
	padding: 0.5em 0em;
	background-color: #FFA200;
}

#nav_bar {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

.nav_item {
	display: inline;
}

#nav_bar_list {
	margin: 0px;
	padding: 0px;
}

#header a {
	text-decoration: none;
	font-family: sans-serif;
	color: white;
	font-weight: bold;
}

.display_page {
	border-bottom-style: solid;
	border-bottom-color: #212121; 
	border-width: 0.15em;
}

#content_body {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 5em;
	font-family: 'Merriweather', serif;
}

#content_footer {
	text-align: center;
}

a {
	text-decoration: none;
	color: #140D00;
}

#posts {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.post {
	border-style: solid;
	border-color: #212121;
	border-radius: 10px;
	padding: 0em 1em;
	margin-bottom: 1em;
	background-color: #FCFCFC;
}

.post_title {
	font-size: 2em;
}

.post_summary {
	font-size: 0.8em;
}

#all_post_list {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.all_post_list_title {
	color: #8C8373;
	font-size: 1.2em;
}
