<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/geoffio.css">
		{% include analytics.html %}
		<title>{{ page.title }} &#8834; geoff.io</title>
	</head>

	<body>
		<div id="content">
			<div id="header">
				<div id="nav_bar">
					{% for spage in site.pages %}
					{% if spage.title == page.title %}
						<div class="nav_item display_page">
					{% else %}
						<div class="nav_item">
					{% endif %}	
						<a href="{{ spage.url }}">{{ spage.title }}</a>
					</div>
					{% endfor %}
				</div>
			</div>
			<div id="content_body">
				{{ content }}
			</div>
			<div id="footer">
				made by geoff
			</div>
		</div>
	</body>
</html>
