<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/geoffio.css">
		{% include analytics.html %}
		<title>{{ page.title }} &#8834; geoff.io</title>
	</head>

	<body>
		<div id="header">
			<div id="nav_bar">
				{% sorted_for spage in site.pages sort_by:weight %}
				<div class="nav_item">
					<a {% if spage.title == page.title %} class="display_page" {% endif %} href="{{ spage.url }}">{{ spage.title }}</a>
				</div>
				{% endsorted_for %}
				</div>
			</div>

			<div id="content">
				<div id="content_header">
				</div>
				<div id="content_body">
					{{ content }}
				</div>
				<div id="content_footer">
					made by geoff
				</div>
			</div>

		</body>
	</html>
